<!DOCTYPE html>
<html>
<title>table</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<body>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Full Name</th>
            </tr>
        </thead>
        <tbody>
            {%for x in userinfo%}
            <tr>
                <td>{{x['first_name']}}</td>
                <td>{{x['last_name']}}</td>
                <td>{{x['first_name']}} {{x['last_name']}}</td>
            </tr>


            {%endfor%}

        </tbody>
    </table>
</body>

</html>